.products {
  position: relative;
}
.products .products_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 40px 150px;
  position: relative;
}
.products .products_container::after {
  content: "";
  display: block;
  width: 100vw;
  height: 1px;
  background: #384353;
  opacity: 0.2;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.products .products_container::before {
  content: "";
  display: block;
  width: calc(100% + 20px);
  height: 100%;
  border-left: 1px solid #384353;
  border-right: 1px solid #384353;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.products .products_container .products_title {
  font-size: 50px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .products .products_container {
    padding: 50px 30px 100px;
  }
  .products .products_container::after {
    top: 100px;
  }
  .products .products_container .products_title {
    font-size: 30px;
  }
}